<div id="page-heading">
    <ol class="breadcrumb">
        <li class="active"><a href="#/Dashboard">Dashboard</a></li>
    </ol>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <panel panel-class="panel-default no-padding" heading="Dashboard">
        <div class="p20">
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-md-6" style="position:relative">
                  <!--img style="width: 353px; margin: 0 auto"
                       class="img-responsive user-avatar"
                       src="assets/img/designer_axis_back.png" alt=""/-->
                </div>
                <div class="user-detail col-md-6">
                 <!-- Company Name
                  Address
                  City, State Zip

                  Phone
                  Website

                  User Name
                  User Email Address-->

                  <h2 class="user-name">{{home.name}}&nbsp;({{home.account_name}})</h2>
                  <div class="table-responsive">
                    <table class="table table-condensed m0" >
                      <tbody>
                      <tr>
                        <td style="border-top: 0">Address</td>
                        <td style="border-top: 0">{{home.account_link_company_address}}</td>
                      </tr>
                      <tr>
                        <td>City, State Zip</td>
                        <td>{{home.account_link_company_city}}, {{home.account_link_company_state}} {{home.account_link_company_postal_code}}</td>
                      </tr>
                      <tr>
                        <td>Phone</td>
                        <td>{{home.phone}}</td>
                      </tr>
                      <tr>
                        <td>Website</td>
                        <td><a href="{{home.httpWebsite}}" target="_blank">{{home.account_link_website}}</a></td>
                      </tr>
                      <tr>
                        <td>User Name</td>
                        <td>{{home.account_name}}</td>
                      </tr>
                      <tr>
                        <td>User Email Address</td>
                        <td><a href="">{{home.email}}</a></td>
                      </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </panel>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-12">
          <panel panel-class="panel-info" heading="STUDIO IPHONE APP" panel-icon="fa fa-calendar">
            <p>STUDIO IPHONE APP IS ENABLED</p>
            <p>Click here to disable the Studio iPhone App</p>
            <p><a href="">Learn More</a></p>
          </panel>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-12">
          <panel panel-class="panel-info" heading="STUDIO CAPTURE" panel-icon="fa fa-calendar">
            <p>Capture product information and images from manufacturer websites.
              View the Studio Capture Tour  and review the Studio Capture User Guide .
              Safari users drag the Studio Capture link to your Favorites Bar.
              IE users right click Studio Capture and select Add to Favorites.
              Studio Capture</p>
          </panel>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-12">
          <panel panel-class="panel-info" heading="CONGA" panel-icon="fa fa-calendar">
            <p>Conga Custom Report Writer</p>
            <p>Create custom document templates that reflect your personal style</p>
          </panel>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-12">
          <panel panel-class="panel-info" heading="PAYSCAPE" panel-icon="fa fa-calendar">
            <p>STUDIO PAYSCAPE IS ENABLED</p>
            <p>Payscape credit card processing is now available</p>
            <p><a href="">Learn More</a></p>
          </panel>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-12">
          <panel panel-class="panel-info" heading="PINTEREST" panel-icon="fa fa-calendar">
            <p>Link design boards from Pinterest to Studio Designer.</p>
            <p>Link boards to client, rooms and items.</p>
          </panel>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-12">
          <panel panel-class="panel-info" heading="STUDIO IPHONE APP" panel-icon="fa fa-calendar">
            <p>STUDIO IPHONE APP IS ENABLED</p>
            <p>Click here to disable the Studio iPhone App</p>
            <p><a href="">Learn More</a></p>
          </panel>
        </div>
      </div>
    </div>
  </div>
</div> <!-- container-fluid -->
