html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/*************************************************/
/*******************SYSTEM************************/
/*************************************************/
#wrapper {
    width: 1000px;
    margin: 0 auto;
}



















.upload-buttons input[type="file"] {
    width: 6.3em \0/ IE9;
}

.upload-button {
    Height: 26px;
    line-height: 30px;
    padding: 0 10px;
    background: #CCC;
    appearance: button;
    -moz-appearance: button; /* Firefox */
    -webkit-appearance: button; /* Safari and Chrome */
    position: relative;
    text-align: center;
    top: 7px;
    cursor: pointer;
}

.sel-file {
    padding: 1px 5px;
    font-size: smaller;
    color: grey;
}

.response {
    padding: 0;
    padding-top: 10px;
    margin: 3px 0;
    clear: both;
    list-style: none;
}

.response .sel-file li, .response .reqh {
    color: blue;
    padding-bottom: 5px;
}

fieldset {
    border: 1px solid #DDD;
    width: 620px;
    padding: 10px;
    line-height: 23px;
}

fieldset label {
    /*font-size: smaller;*/
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 170px;
    height: 170px;
    text-align: center;
    padding: 100px 10px 0 10px;
    margin-left: 10px;
}

.up-buttons {
    float: right;
}

.drop-box.dragover {
    border: 5px dashed blue;
}

.drop-box.dragover-err {
    border: 5px dashed red;
}

/* for IE*/
.js-fileapi-wrapper {
    display: inline-block;
    vertical-align: middle;
}

button {
    padding: 1px 5px;
    font-size: smaller;
    margin: 0 3px;
}

.ng-v {
    float: right;
}

.thumb {
    float: left;
    width: 18px;
    height: 18px;
    padding-right: 10px;
}

form .thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.edit-area {
    font-size: 14px;
    background: black;
    color: #f9f9f9;
    padding: 5px 1px;
}

#htmlEdit {
    margin-bottom: 25px;
}

.edit-div {
    font-size: smaller;
}

.CodeMirror {
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

form button {
    padding: 3px 10px;
    font-weight: bold;
    margin-top: 10px;
}

.sub {
    font-size: smaller;
    color: #777;
    padding-top: 5px;
    padding-left: 25px;
}

.err {
    font-size: 12px;
    color: #C53F00;
    margin: 15px;
    padding: 15px;
    background-color: #F0F0F0;
    border: 1px solid black;
}

.s3 {
    font-size: smaller;
    color: #333;
    margin-left: 20px;
}

.s3 fieldset {
    border: 1px solid #AAA;
}

.s3 label {
    width: 180px;
    display: inline-block;
}

.s3 input {
    width: 300px;
}

.s3 .helper {
    margin-left: 5px;
}

.howto {
    margin-left: 10px;
    line-height: 20px;
}

.server {
    margin-bottom: 20px;
}

.srv-title {
    font-weight: bold;
    padding: 5px 0 10px 0;
}

:not(output):-moz-ui-invalid {
    box-shadow: none;
}

.preview {
    clear: both;
}

.preview img, .preview audio, .preview video {
    max-width: 300px;
    max-height: 150px;
    float: right;
}

.custom {
    font-size: 14px;
    margin-left: 20px;
}

/*****************TODO****************************/
/*********Добавить общее описание попапов*********/







/*************************************************/
/*******************HEADER************************/
/*************************************************/
#header {
    display: block;
    min-height: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

#header .logo {
    display: block;
    float: left;
    width: 100px;
}

#header .menu {
    width: 798px;
    display: block;
    float: left;
    border: 1px solid green;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#header .profile {
    display: block;
    float: right;
    width: 100px;
}

#header .nav {
    display: block;
}

#header .nav li{
    display: inline-block;
    width: 135px;
}

#header .lang {

}

#header .lang.active {
    background-color: blue;
}

#login_popup {
    position: relative;
}

#login_popup .back{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
}

#login_popup .content{
    margin: 40px auto 0px auto;
    width: 900px;
    height: 200px;
    padding: 10px;
    background-color: #c5c5c5;
    border-radius: 5px;
}

#login_popup .buttons {

}

#registration_popup {
    position: relative;
}

#registration_popup .back{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
}

#registration_popup .content{
    margin: 40px auto 0px auto;
    width: 900px;
    height: 200px;
    padding: 10px;
    background-color: #c5c5c5;
    border-radius: 5px;
}

#registration_popup .buttons {

}
/*************************************************/
/*****************END OF HEADER*******************/
/*************************************************/

/*************************************************/
/*******************FOOTER************************/
/*************************************************/
#footer {

}

#footer .logo {

}
/*************************************************/
/****************END OF FOOTER********************/
/*************************************************/

/*************************************************/
/*****************PROJECTS************************/
/*************************************************/
#projects {
    display: block;
}

#projects .list_title {

}

#projects .desc {

}
/*************************************************/
#new_project_form {
    position: relative;
}

#new_project_form .back{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
}

#new_project_form .content{
    margin: 40px auto 0px auto;
    width: 900px;
    height: 200px;
    padding: 10px;
    background-color: #c5c5c5;
    border-radius: 5px;
}

#new_project_form .buttons {

}
/*************************************************/
#project {

}



/*************************************************/
/***************************************************/
/*************************************************/
#task {

}
/*************************************************/
/*************END OD PROJECTS*********************/
/*************************************************/