<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Studio Designer</a></li>
        <li class="active">Home</li>
    </ol>
</div>

<div ng-controller="HomeController" class="container-fluid">
  <div class="row">
    <div class="col-md-12 animated-content">
      <panel panel-class="panel-default no-padding" heading="Home">
        <div class="p20">
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-md-6">
                  <img class="img-responsive user-avatar"
                       src="assets/img/designer_axis_back.png" alt=""/>
                </div>
                <div class="user-detail col-md-6">
                  <h2 class="user-name">{{home.Name}}&nbsp;({{home.AccountName}})</h2>
                  <div class="table-responsive">
                    <table class="table table-condensed m0">
                      <tbody>
                      <tr>
                        <td style="border-top: 0">Web</td>
                        <td style="border-top: 0"><a href="#"></a></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="">{{home.Email}}</a></td>
                      </tr>
                      <tr>
                        <td>Phone</td>
                        <td>{{home.Phone}}</td>
                      </tr>
                      <tr>
                        <td>Position</td>
                        <td>Designer</td>
                      </tr>
                      <tr>
                        <td>Social</td>
                        <td>
                          <a href="#" class="btn btn-xs"><i class="fa fa-skype"></i></a>
                          <a href="#" class="btn btn-xs"><i class="fa fa-facebook"></i></a>
                          <a href="#" class="btn btn-xs"><i class="fa fa-twitter"></i></a>
                          <a href="#" class="btn btn-xs"><i class="fa fa-dribbble"></i></a>
                          <a href="#" class="btn btn-xs"><i class="fa fa-tumblr"></i></a>
                          <a href="#" class="btn btn-xs"><i class="fa fa-linkedin"></i></a>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </panel>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 animated-content">
      <div class="row">
        <div class="col-xs-12">
          <panel panel-class="panel-info" heading="STUDIO IPHONE APP" panel-icon="fa fa-calendar">
            <p>STUDIO IPHONE APP IS ENABLED</p>
            <p>Click here to disable the Studio iPhone App</p>
            <p><a href="">Learn More</a></p>
          </panel>
        </div>
      </div>
    </div>
    <div class="col-md-4 animated-content">
      <div class="row">
        <div class="col-xs-12">
          <panel panel-class="panel-info" heading="STUDIO CAPTURE" panel-icon="fa fa-calendar">
            <p>Capture product information and images from manufacturer websites.
              View the Studio Capture Tour  and review the Studio Capture User Guide .
              Safari users drag the Studio Capture link to your Favorites Bar.
              IE users right click Studio Capture and select Add to Favorites.
              Studio Capture</p>
          </panel>
        </div>
      </div>
    </div>
    <div class="col-md-4 animated-content">
      <div class="row">
        <div class="col-xs-12">
          <panel panel-class="panel-info" heading="CONGA" panel-icon="fa fa-calendar">
            <p>Conga Custom Report Writer</p>
            <p>Create custom document templates that reflect your personal style</p>
          </panel>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 animated-content">
      <div class="row">
        <div class="col-xs-12">
          <panel panel-class="panel-info" heading="PAYSCAPE" panel-icon="fa fa-calendar">
            <p>STUDIO PAYSCAPE IS ENABLED</p>
            <p>Payscape credit card processing is now available</p>
            <p><a href="">Learn More</a></p>
          </panel>
        </div>
      </div>
    </div>
    <div class="col-md-4 animated-content">
      <div class="row">
        <div class="col-xs-12">
          <panel panel-class="panel-info" heading="PINTEREST" panel-icon="fa fa-calendar">
            <p>Link design boards from Pinterest to Studio Designer.</p>
            <p>Link boards to client, rooms and items.</p>
          </panel>
        </div>
      </div>
    </div>
    <div class="col-md-4 animated-content">
      <div class="row">
        <div class="col-xs-12">
          <panel panel-class="panel-info" heading="STUDIO IPHONE APP" panel-icon="fa fa-calendar">
            <p>STUDIO IPHONE APP IS ENABLED</p>
            <p>Click here to disable the Studio iPhone App</p>
            <p><a href="">Learn More</a></p>
          </panel>
        </div>
      </div>
    </div>
  </div>
</div> <!-- container-fluid -->
