<div id="page-heading">
  <ol class="breadcrumb">
    <li><a href="#/">Studio Designer</a></li>
    <li>Report Writer</li>
    <li class="active">Control Panel</li>
  </ol>
</div>

<div ng-controller="ServiceController" class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <panel panel-class="panel-info" heading="Object">
        <form class="form-horizontal">
          <div class="form-group">
            <select class="form-control"
                    ng-model="configData.currentObject"
                    ng-change="onChangeObject()"
                    ng-options="object as object.Name for object in data.objects">
            </select>
          </div>
        </form>
      </panel>
      <panel panel-class="panel-info" heading="Chapters">
        <div class="row">
          <div class="col-xs-12">
            <div class="tasklist">
              <ul class="panel-tasks">
                <li style="padding-right:45px">
                  <div class="task-container" ng-click="onSelectHeader()">
                    <span ng-if="configData.currentColumnId == 0" class="label label-primary"></span>
                    <span class="task-description">Headers</span>
                  </div>
                </li>

                <li ng-repeat="column in data.columns" style="padding-right:45px">
                  <div class="task-container" ng-click="onSelectColumn(column)">
                    <span ng-if="configData.currentColumnId == column.Id" class="label label-primary"></span>
                    <span class="task-description">{{column.Name}}</span>
                  </div>
                  <div class="options todooptions">
                    <div class="btn-group">
                      <button data-nodrag class="btn btn-default btn-xs" ng-click="onRemoveColumn(column)"><i class="glyphicon glyphicon-remove"></i></button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <br/>
        <button class="btn btn-default" ng-click="onAddColumn()">Add Chapter</button>
      </panel>
    </div>
    <div class="col-md-9">
      <panel panel-class="panel-info" heading="Fields">
        <panel-controls>
          <panel-control-collapse></panel-control-collapse>
          <button class="button-icon"><i class="glyphicon glyphicon-cog"></i></button>
          <button class="button-icon"><i class="glyphicon glyphicon-wrench"></i></button>
        </panel-controls>
        <table class="table table-bordered table-condensed">
          <tr style="font-weight: bold">
            <td style="width:30%">Name</td>
            <td style="width:30%">Field</td>
            <td style="width:10%" ng-if="configData.currentColumnId != 0">Group By</td>
            <td style="width:5%" ng-if="configData.currentColumnId != 0">Filter</td>
            <td style="width:25%"></td>
          </tr>
          <tr ng-repeat="field in data.fields">
            <td>
              <span ng-if="!field.isEditing">{{field.Name}}</span>
              <input ng-if="field.isEditing" type="text" ng-model="field.Name"/>
            </td>
            <td>
              <div class="input-icon right">
                <i ng-show="loadingLocations" class="fa fa-refresh fa-spin"></i>
                <input type="text"
                       ng-disabled="!field.isEditing"
                       class="form-control"
                       placeholder="Type in a location"
                       ng-model="field.Field"
                       typeahead="address.Field for address in getAutoComplete($viewValue)"
                       typeahead-loading="loadingLocations">
              </div>

              <!--span ng-if="!field.isEditing">{{field.Field}}</span>
              <md-autocomplete ng-if="field.isEditing"
                               md-selected-item="field.selectedItem"
                               md-search-text="field.searchText"
                               md-search-text-change="searchTextChange(field)"
                               md-selected-item-change="selectedItemChange(field, item)"
                               md-items="item in getAutoComplete(field.searchText)"
                               md-item-text="item.Field"
                               md-min-length="2">
                <md-item-template>
                  <span ng-if="!item.Lookup" md-highlight-text="searchText" md-highlight-flags="^i">{{item.Field}} ({{getTypeNameByCode(item.Type)}})</span>
                  <span ng-if="item.Lookup" md-highlight-text="searchText" md-highlight-flags="^i">{{item.Field}} *{{item.Lookup}}</span>
                </md-item-template>
                <md-not-found>
                  No states matching "{{field.searchText}}" were found.
                </md-not-found>
              </md-autocomplete-->
            </td>
            <td ng-if="configData.currentColumnId != 0">
              <div class="checkbox block">
                <label class="checkbox-inline">
                  <input icheck type="checkbox" ng-disabled="!field.isEditing" ng-model="field.CanGroup">
                </label>
              </div>
            </td>
            <td ng-if="configData.currentColumnId != 0">
              <div class="checkbox block">
                <label class="checkbox-inline">
                  <input icheck type="checkbox" ng-disabled="!field.isEditing" ng-model="field.CanFilter">
                </label>
              </div>
            </td>
            <td class="form-buttons form-inline">
              <button class="btn btn-sm btn-primary" ng-if="!field.isEditing" ng-click="onEditField(field)">Edit</button>
              <button class="btn btn-default btn-sm" ng-if="field.isEditing" ng-click="onSaveField(field)">Save</button>
              <button class="btn btn-default btn-sm" ng-if="field.isEditing" ng-click="onCancelField(field)">Cancel</button>
              <button class="btn btn-sm btn-danger" ng-if="field.Id" ng-click="onRemoveField(field)">Remove</button>
            </td>
          </tr>
          <!--tr ng-repeat="user in users">
            <td>
              <span editable-text="user.name" e-name="name" e-form="rowform" e-required>
                {{ user.name || 'empty' }}
              </span>
            </td>
            <td>
              <span editable-select="user.status" e-name="status" e-form="rowform"
                    e-ng-options="s.value as s.text for s in statuses">
                {{ showStatus(user) }}
              </span>
            </td>
            <td>
              <span editable-select="user.group" e-name="group" e-form="rowform"
                    e-ng-options="g.id as g.text for g in groups">
                {{ showGroup(user) }}
              </span>
            </td>
            <td style="white-space: nowrap">

            </td>
            <td>
              <form editable-form name="rowform" onbeforesave="saveUser($data, user.id)"
                    ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-primary">
                  Save
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                        class="btn btn-sm btn-default">
                  Cancel
                </button>
              </form>
              <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-sm btn-primary" ng-click="rowform.$show()">Edit</button>
                <button class="btn btn-sm btn-danger" ng-click="removeUser($index)">Delete</button>
              </div>
            </td>
          </tr-->
        </table>
        <button class="btn btn-default" ng-click="onAddField()">Add Field</button>
      </panel>
    </div>
  </div>

</div>
